@import base

$bgcolor      : #001155
$menu_padding : 0.5em
$border_dark  : #999999
$spacer       : #dddddd

@mixin equal-column
  :float left
  :padding-bottom 32767px
  :margin-bottom -32767px

body
  +blueprint-typography
  

#header
  +container
  :background= $bgcolor
  a
    :color #fff
  h1
    +column(3)
    :font-size 1em
    :padding-left $blueprint-grid-width / 2
    a
      :text-decoration none
  form
    +column(15)
    :padding-right 0 $blueprint-grid-width / 2 
  #menu
    +column(5,true)
    +horizontal-list

#content
  +container
  :border-left= $border_dark 1px solid
  #main
    +column(18)
    :border-right= $border_dark 1px solid
    :border-bottom= $border_dark 1px solid
    :padding 0 $blueprint-grid-width / 2 
    .facet
      :overflow hidden //reqd for equal-column
      :margin $blueprint-grid-width / 2  0
      h2 //facet title
        +column(3)
        :font-size 1em
        +equal-column
      ul
        //+span(15)
        :list-style none
        :margin 0
        +equal-column
        li
          :margin 0 0 4px
          :overflow hidden //reqd for equal-column
          h3 //course title
            :font-size 1em
            +column(3)
            +equal-column
          ul
            :list-style none
            +equal-column
            li
              a.title
                +span(4)
                :float left
              .nearterms
                +span(7)
                :float left
              a.weeks
                +span(3)
                :float left
      &#courses,&#resources,&#people
        ul
          +horizontal-list
      
  #sidebar
    //+prepend(1)
    +column(5,true)
    // :margin-right= -1 * (1px + $blueprint-grid-width / 2 )
    h2
      :font-size 1em
