!uoftblue = #00204E
!headerbg = #6889AD
!oddrow = #F7DFC0
!activeyellow = #ed9711  
!inactivegray = #eee
!overlap = 10px 
//10px

=border-radius(!radius=3em)
  :-moz-border-radius= !radius
  :-webkit-border-radius= !radius
  :border-radius= !radius   

=link-box
  :text-decoration none
  :border= 1px "solid" !inactivegray
  :padding 2px
  :display block
  :text-align center
  :font-weight bold
  :color #666
  :margin-bottom 3px
  :border-right= 5px "solid" !inactivegray
  :text-indent 2.5px
  &:hover
    :color= !activeyellow
    :border-right-color #ed9711 
  
// STYLE
body
  #left
    
  #bg
    :border 1px solid #ccc
    :width 202px
    :margin-left 65px
    
  #menu
    :width 200px
    :height 600px
    :background url(/images/sidebar/hart.jpg) center center no-repeat
    :border 1px solid #fff
    :line-height 1.2
    h1
      :border 1px solid #ddd
      :margin= 25px -2 * !overlap 0.25em -100px
      :float right
      
      a
        :display block
        :padding 2px
        :width 275px
        :height 50px
        :background #eee url(/images/logo.png) center center no-repeat
        :text-indent -10000px
        :overflow hidden
        :border 1px solid #fff
        &:hover
          :border-left-color= !activeyellow
      
    h2
      :background #ddd
      :border 1px solid #ccc
      :font-size 0.95em
      :color #333
      :width 281px
      :margin= 0 -2 * !overlap 0 -100px
      :font-variant small-caps
      :letter-spacing 0.01em
      :float right
      span
        :border 1px solid #fff
        :display block
        :padding 5px 5px 5px 20px
        :text-indent -10px
        
    ul
      :list-style none
      :margin= 25px -1 * !overlap -100px 
      :float right
      :padding 0
      :font-size 1em
      :width 100%
      
      li
        :margin 0.5em 0 0.5em 35%

        :background url(/images/triangle.png) bottom right no-repeat
        :padding 0 0 9px 0
        &.active
          :margin-left 15%
        a
          :display block
          :padding 0.5em
          :background purple
          :text-decoration none
          :background #fff
          :border 1px solid #ccc
          :border-left 5px solid #ccc
          :white-space nowrap
          &:hover
            :border-left-color= !activeyellow
          &.active
            //:border-left-color #d6531e
            
            
  #content
    :line-height 1.5
    :padding 25px 0
    h2
      :margin 0em 0 0.5em
    h3
      :margin 0em 0 0.5em
      :font-size 2em
    
    p
      :max-width 32.5em
      
    table
      :font-size 1em
      tr
        :vertical-align top
      th
        :background-color= !headerbg
        :color= !uoftblue
        a
          :color= !uoftblue
          :text-decoration none
          :border-bottom 1px dashed
          &:hover
            :color= !activeyellow
      td.header
        :background-color orange
        :text-align center
        :font-weight bold
      tr.odd
        td
          :background-color= !oddrow
      tr.even
        td
          :background-color #FFFFFF !important
    form
      :text-align justify
      :margin 0 5px 10px 0
      button, a.large
        :font-size 1.2em
        :margin 0.5em
      fieldset
        fieldset
          :border none
          :padding 0
          :margin 0
          legend
            :padding 0 0 5px
            :font-weight normal
            label
              :display block
              
          li
            :padding 5px 0

        ol
          :margin 0
          :padding 0
        li
          :list-style none
          :padding 5px
          :margin 0
      legend
        :font-weight bold
      label
        :display inline-block
        :line-height 1.8
        :vertical-align top
        :width 10em
    dl
      dt
        :background-color= !inactivegray
      dd
      a.profile_edit
        :color= !headerbg
        :float right
        &:hover
          :color= !activeyellow

    
  #sidebar
    :margin 25px 45px 0 0
 
      
    #user
      :margin 0 0 25px 0
      #welcome
        :text-align center
        :font-weight bold
        :font-size 1em
        :color= !headerbg
        :padding 2px
        
      :width 131px

      a
        +link-box
      a#login,#logout
        :font-size 0.9em

    a#flyer
      :display block
     
      :padding-bottom 90px
      :background url(/images/sales_arrow.png) bottom center no-repeat
      
      :width 125px
      :height 156px
        
      img
        :padding 2px
        :border= 1px "solid" !inactivegray
          
      &:hover
        img
          :border= 1px "solid" !activeyellow
    img#uoft
      :margin 50px 0
      
  #flash
    :color red
      
  #footer
    :color #666
    :font-size 1em
    :clear both
    :padding-top 50px
    :margin-left 65px
    h1
      :background url(/images/logo_mini.png) left center no-repeat
      :text-indent -1000px
      :overflow hidden
      :width 140px
      :height 25px
      :margin 0
      :float left
    h2
      :font-variant small-caps
      :line-height 1
      :margin 4px 0
      :font-size 10px
      :height 20px
      :letter-spacing 0.075em
    .copy
      :margin-left 5px

#landing,#students
  :background= !inactivegray
  #container
    :background #fff
    :width 550px
    :border 1px solid #999
  h1
    :width 499px
    :height 91px
    :background url(/images/logo-large.png) no-repeat
    :text-indent -10000px
    :overflow hidden
    :margin 25px auto 0
  h2
    :display none
  ul
    :font-size 3em
    :margin -5px 0 50px 165px
    :padding 0
    :list-style none
    li
      a
        :display block
        :margin 15px 0
        :padding 10px 0 5px 60px
        :background url(/images/checkbox.png) no-repeat left center
        :color #000
        :text-decoration none
        &:hover
          :background-image url(/images/checkbox_checked.png)
#students
  #container
    :width 416px
    #content
      :padding 0
      :margin 0 0 -5px 0
