!bgcolor= #001155
!menu_padding= 0.5em

body
  :margin 0
  :padding 0
  :width 100%
  :font-family Arial
  
.full
  :width 500px

#header
  :background= !bgcolor
  :padding= !menu_padding
  :color #fff
  :height 1.25em
  
  h1
    :font-size 1em
    :margin 0
    :float left
  
  a
    :text-decoration none
    :height 1em
    :color #fff
    &:hover
      :text-decoration underline
    &:visited
  
  .active
    a
      :background #fff
      :color= !bgcolor
      :margin= -1 * !menu_padding/4
      :padding= !menu_padding/4
  
  ul#menu
    :list-style none
    :margin 0 2em
    li
      :float left
      :margin 0 0.5em  
  
    
  form
    :margin 0 0.5em 0 3em
    :float left
    input
      :margin 0 0.25em
      :border 0        

#content
  :width 80%
  :margin 0 auto
    
.popup
  h1
    :font-size 1.2em
    :border-bottom 1px solid #000
    :padding-bottom 0.5em
    :margin 0
    
  #extended_info
    :display none
    
    
a.expand
  :display none
.popup
  a.expand
    :display block
    :float right
    :color #666
    :background url('/images/icons/information.png') no-repeat
    :text-indent -1000px
    :overflow hidden
    :width 16px
    :height 16px

#search_results
  dt
    :margin 1em 0 0 0
    :padding-left 20px
    :font-weight normal
    :background center left no-repeat
    
    &.resource
      :background-image url('/images/icons/book.png')    
    &.staff
      :background-image url('/images/icons/status_online.png')
    &.course
      :background-image url('/images/icons/database.png')
    &.collection
      :background-image url('/images/icons/sitemap_color.png')
      
    a
    span
      :color #666
      :font-size 0.9em
      
 
      
  dd
    :font-size 0.8em
    :color #333
    :margin 0.25em 0 0.25em 20px
    strong
      :color #000  
    
  
dl
  dt
    :font-weight bold
    :margin 0.25em 0
  dd
    :margin 0.25em 0.5em
    
  dl
    :margin 0 0 0 0.5em
    :font-size 0.9em

h4
  :clear both
  :margin 0
  
.activities
  td
    :vertical-align top
  .activity
    .type
      &.lecture
      &.midterm
      &.test
      &.assignment
  ul.outcomes
    :list-style-type none
    :margin 0
    :padding 0
    li
      :clear both
      a
        :float left
        :text-decoration none
      .mode
        :display block
        :width 18px
        :height 16px
        :float left
        :background right center no-repeat
        &.knowledge
          :background-image url('/images/icons/lightbulb.png')
        &.skill
          :background-image url('/images/icons/wrench.png')
        &.attitude
          :background-image url('/images/icons/heart.png')

