body
  :margin 0
  :padding 0
  :width 1200px
  :font-family Arial
  
.full
  :width 500px

#header
  :background #ccc
  :padding 0.5em
  h1
    :font-size 1em
    :margin 0
    :float left
  form
    :margin 0 0.5em     
  ul#menu
    :list-style none
    :margin 0
    li
      :float left
      :margin 0 0.5em
      a
        :text-decoration none
      

h4
  :clear both
  :margin 0

.course
  :background #ccc
  :width 150px
  :float left
  
  h2
    :font-size 1em
    :margin 0
    a
      :display block
      :text-align center
      :text-decoration none
    
  .activities
    .activity
    dd
      :font-size 0.5em
      :margin 0
    .lecture
      :color blue
    .tutorial
      :color green
    .midterm
      :color red
