- semantic_form_for @person do |form|
  = form.inputs :name
  - if @person.class == Instructor
    = form.inputs :phone, :website, :email
  - form.buttons do
    = form.commit_button
    or 
    =link_to "Go Back", @person