%form#related
  %h2 Related Terms
  %ul
    %li Search Term
    %li Search Term
    %li Search Term
    %li Search Term
    %li Search Box
%form#scope
  %h2 Scope
  %ul
    %li Courses
    %li Collections
    %li People
    %li Lexicon