%h2 Courses
-@courses = @collection
-prevyear = 0
-prevsem = ""
%dl#courses
  - @courses.each do |course|
    - if course.year != prevyear
      %dt= "Year " + course.year
      - prevyear = course.year
    - if course.semester != prevsem   
      %dt= "Semester " + course.semester
      - prevsem = course.semester
    %dd
      %a(href="/course/#{course.course_code}" rel="facebox[.full]" title="#{course.name}")=course.short_code
      %span=course.name
