!!! Strict
%html
  %head
    %link(rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript")
    %script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript")
    %script(type="text/javascript" src="/setup.js")
    %title CurrMap
  %body
    #header
      %h1 Curriculum Mapper
      %a(href="/") Home
      %a(href="/courses") All Courses 
      %a(href="/staff") All Staff
    #content
      = yield
    #footer
    

    