#main
  #activities.facet
    %h2 Activities
    %ul
      %li
        %h3 
          %a(href="#") ECE453
        %ul
          %li
            %a.title(href="#") Lecture 7 
            .nearterms text surrounding query
            %a.week(href="#") Week 2
          %li
            %a.title(href="#") Lecture 8 
            .nearterms these words surround
            %a.week(href="#") Week 2
          %li 
            %a.title(href="#") Midterm 1 
            .nearterms the query as well
            %a.week(href="#") Week 3
          %li.more
            %a(href="#") 2 more
      %li
        %h3
          %a(href="#") CIV101
        %ul
          %li 
            %a.title(href="#") Lecture 4
            .nearterms some text goes here
            %a.week(href="#") Week 4
          %li.more
            %a(href="#") 1 more
      %li
        %h3 
          %a(href="#") ECE342
        %ul
          %li
            %a.title(href="#") Lecture 4
            .nearterms some other words here 
            %a.week(href="#") Week 4
      %li.more
        %a(href="#") More
  
  #courses.facet
    %h2 Courses
    %ul
      %li 
        %a(href="#") ECE453
      %li 
        %a(href="#") CIV101
      %li 
        %a(href="#") ECE342
      %li 
        %a(href="#") ECE123
      %li 
        %a(href="#") CSC121
      %li.more
        %a(href="#") More
  
  #resources.facet
    %h2 Resources
    %ul
      %li 
        %a.title(href="#") Calculus
        %a.author(href="#") Stewart
      %li
        %a.title(href="#") Differential Equations
        %a.author(href="#") Author
      %li.more
        %a(href="#") More
  
  #people.facet
    %h2 People
    %ul
      %li 
        %a(href="#") J. Davis
      %li 
        %a(href="#") B. Karney
      %li 
        %a(href="#") L. Romkey

#sidebar
  %form#related
    %h2 Related Terms
    %ul
      %li Search Term
      %li Search Term
      %li Search Term
      %li Search Term
      %li Search Box
  %form#scope
    %h2 Search Within
    %ul
      %li Courses
      %li Collections
      %li People
      %li Lexicon