@mixin column($count, $gap)
  -moz-column-count: $count
  -moz-column-gap: $gap
  -webkit-column-count: $count
  -webkit-column-gap: $gap
  column-count: $count
  column-gap: $gap

.activities
  h4
    :font-size 1.2em
    :padding 2em 0 0.5em 0
    :margin-bottom 0.5em
    :border-bottom 1px solid #ccc
  .lectures
    :width 67%
    :float left
    .activity
      :width 50%
  .others
    :float left
    :width 33% 
    
  .activity
    :float left
    :background no-repeat 0px top
    :margin 5px 0 5px 0
    
    h5
      :margin 0 0 0 22px
      :color #666

    &.lecture
      :background-image url("/images/icons/page_white.png")
    &.midterm
      :background-image url("/images/icons/rosette.png")
    &.assignment
      :background-image url("/images/icons/report.png")
    &.project
      :background-image url("/images/icons/star.png")
    &.tutorial
      :background-image url("/images/icons/book_open.png")
    &.pset
      :background-image url("/images/icons/plugin.png")
      
    .outcomes
      :margin 0 0 0 22px
      a
        :float left
        :margin-right 1em
  .no-others
    .lectures
      :width 100%
      .activity
        :width 33%