.full
  :width 500px

    
.popup
  h1
    :font-size 1.2em
    :border-bottom 1px solid #000
    :padding-bottom 0.5em
    :margin 0
    
  #extended_info
    :display none
    
    
a.expand, a.more
  :display none
  
.popup
  a.expand, a.more
    :display block
    :float right
    :color #666
  a.expand
    :overflow hidden
    :width 16px
    :height 16px
    :background url(/images/icons/information.png) no-repeat
    :text-indent -1000px

#facebox
  .footer
    :border-top none !important
    :margin-top 0 !important
    :padding-top 0 !important
    a
      :width 16px
      :height 20px
      :display block
      :position absolute
      :top 20px
      :right 20px
      :background url(/facebox/closelabel.gif) right no-repeat
      img
        :display none