form

  label
    //:display block
    //:width 5em
  
  
form.formtastic
  fieldset
    :overflow hidden
  fieldset.buttons
    :padding 0

  fieldset > ol > li
    :overflow hidden
    label
      :float none
      :width inherit
      
    fieldset ol
      :padding-left 5%
      
  &.course_instance, &.course
    fieldset legend
      :display none
      
    #course
      :width 45%
      :margin-right 5%
      :float left
      input
        :max-width 90%
        :width 90%
      textarea
        :width 90%
      #details
        fieldset 
          :width 45%
          :display inline-block
        label
          :float left
          :width 6em
        input
          :width 4em
          
    h3
      @include nice_heading

    #connections
      :width 45%
      :float left
      
      fieldset legend
        :display none
        
        
      #topics
        label
          :display none
      
  