%div(class="#{relation}")
  %h4= relation.to_s.titleize
  %ul
    - object.send(relation).each do |c|
      %li
        - if relation.to_s == 'documents'
          = link_to c, c.file_url, (link_html if defined? link_html)
        - else
          = link_to c, c, (link_html if defined? link_html)
