%table.timeline
  %tr
    - if heading
      %th= heading
    - years.each do |year_version|
      %th= year_version
  -items_by_year.each do |item, item_years|
    %tr
      - if heading
        %td= link_to item.name, item, :rel => "facebox"
      -years.each do |year|
        %td(class="#{"active" if item_years.include?(year)}") 
          -if item_years.include?(year) && item_years.sort[0] == year
            =link_to (item.respond_to?("name") ? item.name : item), item, :rel => "facebox"