body {
      overflow: hidden;
  }
  #editor-wrapper {
    position:relative;
  }
  #editor { 
      margin: 0;
      width: 500px;
      height: 1000px;
      /*position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;*/
  }