/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 16, ../../app/stylesheets/partials/layout/_layout.sass */
#content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 19, ../../app/stylesheets/partials/layout/_layout.sass */
#content #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #header {
  overflow-x: hidden;
}
/* line 22, ../../app/stylesheets/partials/layout/_layout.sass */
#content #header h1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  border-right: 1px solid #001155;
  margin-right: 9px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #header h1 {
  overflow-x: hidden;
}
/* line 26, ../../app/stylesheets/partials/layout/_layout.sass */
#content #header #menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  padding: 0;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #header #menu {
  overflow-x: hidden;
}
/* line 29, ../../app/stylesheets/partials/layout/_layout.sass */
#content #header #search {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  border-right: 1px solid #001155;
  margin-left: -1px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #header #search {
  overflow-x: hidden;
}
/* line 34, ../../app/stylesheets/partials/layout/_layout.sass */
#content #nav {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  padding: 10px 10px 10px 10px;
  width: 130px;
  margin-right: 0;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #nav {
  overflow-x: hidden;
}
/* line 38, ../../app/stylesheets/partials/layout/_layout.sass */
#content #main {
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
  padding: 10px 10px 10px 10px;
  width: 770px;
  border: 1px solid #777777;
  padding-right: 18px;
  border-top: none;
  min-height: 250px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #main {
  overflow-x: hidden;
}
/* line 45, ../../app/stylesheets/partials/layout/_layout.sass */
#content #main #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #main #sidebar {
  overflow-x: hidden;
}
/* line 48, ../../app/stylesheets/partials/layout/_layout.sass */
#content #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
  padding: 10px 10px 10px 10px;
  width: 770px;
  padding-left: 160px;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content #footer {
  overflow-x: hidden;
}

/* line 1, ../../app/stylesheets/partials/_typography.sass */
body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  color: #333333;
  font-size: 11px;
  text-align: left;
  direction: ltr;
  line-height: 1.5;
}
/* line 39, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 68, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 70, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 81, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 83, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 84, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 86, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 89, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 92, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 94, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 95, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 98, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 100, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 104, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 105, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 106, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 10, ../../app/stylesheets/partials/_typography.sass */
body a {
  color: #3b5998;
  text-decoration: none;
}
/* line 13, ../../app/stylesheets/partials/_typography.sass */
body a:hover {
  text-decoration: underline;
}
/* line 16, ../../app/stylesheets/partials/_typography.sass */
body h2 {
  font-weight: bold;
}

/* line 1, ../../app/stylesheets/partials/layout/_header.sass */
#header {
  background: #627aad;
  height: 3em;
}
/* line 5, ../../app/stylesheets/partials/layout/_header.sass */
#header a {
  color: white;
}
/* line 7, ../../app/stylesheets/partials/layout/_header.sass */
#header a:hover {
  text-decoration: none;
}
/* line 10, ../../app/stylesheets/partials/layout/_header.sass */
#header h1 {
  background: #3b5998;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  text-indent: 1em;
}
/* line 18, ../../app/stylesheets/partials/layout/_header.sass */
#header ul#menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 57, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header ul#menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header ul#menu li:first-child, #header ul#menu li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header ul#menu li:last-child, #header ul#menu li.last {
  padding-right: 0;
}
/* line 20, ../../app/stylesheets/partials/layout/_header.sass */
#header ul#menu li {
  margin: 0;
  padding: 0;
}
/* line 23, ../../app/stylesheets/partials/layout/_header.sass */
#header ul#menu li a {
  display: block;
  font-weight: strong;
  height: 3em;
  line-height: 3em;
  padding: 0 10px;
}
/* line 29, ../../app/stylesheets/partials/layout/_header.sass */
#header ul#menu li a:hover {
  background: #6d86b7;
}
/* line 32, ../../app/stylesheets/partials/layout/_header.sass */
#header form#search {
  height: 3em;
}
/* line 36, ../../app/stylesheets/partials/layout/_header.sass */
#header form#search #ferret_search {
  color: #777777;
  border: 1px solid #001155;
  padding: 0.2em 0.4em;
  margin: 0.5em 0;
  height: 1.5em;
  background: white url(/images/icons/magnifier.png) no-repeat right;
  width: 200px;
}
/* line 44, ../../app/stylesheets/partials/layout/_header.sass */
#header form#search #ferret_submit {
  height: 1em;
  padding: 0.4em;
  border: none;
  background: #777777;
  display: none;
}

/* line 56, ../../app/stylesheets/partials/layout/_header.sass */
#sheader #menu {
  padding: 0 9px;
  width: 191px;
}

/* line 2, ../../app/stylesheets/partials/layout/_sidebar.sass */
#nav h2 {
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  margin-top: 1em;
  border-bottom: 1px solid #dddddd;
}

/* line 1, ../../app/stylesheets/partials/layout/_footer.sass */
#footer {
  color: #777777;
}
/* line 3, ../../app/stylesheets/partials/layout/_footer.sass */
#footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 57, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul li:first-child, #footer ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul li:last-child, #footer ul li.last {
  padding-right: 0;
}

/* line 1, ../../app/stylesheets/partials/_notices.sass */
.notice, .alert {
  padding: 0.5em;
  margin: 0 0 1em;
  border: 1px solid;
}

/* line 5, ../../app/stylesheets/partials/_notices.sass */
.notice {
  color: #009900;
  background: #ccffcc;
  border-color: #009900;
}

/* line 10, ../../app/stylesheets/partials/_notices.sass */
.alert {
  color: #cc3300;
  background: #ffcccc;
  border-color: #cc3300;
}

/* line 9, ../../app/stylesheets/partials/_form.sass */
form.formtastic fieldset > ol > li {
  overflow: hidden;
}
/* line 11, ../../app/stylesheets/partials/_form.sass */
form.formtastic fieldset > ol > li label {
  float: none;
  width: inherit;
}
/* line 16, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course fieldset legend {
  display: none;
}
/* line 19, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #course {
  width: 60%;
  float: left;
}
/* line 22, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #course input {
  max-width: 90%;
  width: 90%;
}
/* line 25, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #course textarea {
  width: 90%;
}
/* line 28, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #course #details fieldset {
  width: 45%;
  display: inline-block;
}
/* line 31, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #course #details label {
  float: left;
  width: 6em;
}
/* line 34, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #course #details input {
  width: 4em;
}
/* line 38, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #connections {
  width: 40%;
  float: left;
}
/* line 41, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course #connections fieldset legend {
  display: block;
}
/* line 44, ../../app/stylesheets/partials/_form.sass */
form.formtastic.course .dynatab {
  float: left;
  display: block;
  padding: 0.5em;
  background: #6d86b7;
  border: #627aad 1px solid;
  color: white;
}

/* line 2, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-widget {
  font-size: 1em;
}
/* line 4, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-widget-content {
  border: none;
  background: none;
}
/* line 7, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-widget-content a {
  color: #3b5998;
}
/* line 9, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-widget-header {
  background: none;
  border: none;
  border-bottom: 1px solid #cccccc;
}
/* line 13, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-corner-all {
  -moz-border-radius: none;
}
/* line 16, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-state-active {
  border-color: #cccccc !important;
}
/* line 18, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-tabs {
  padding: 2em 0 0;
}
/* line 20, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-tabs h1, body .ui-tabs h2, body .ui-tabs h3 {
  display: none;
}
/* line 22, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-tabs .ui-tabs-nav {
  padding: 0.2em 1em 0;
}
/* line 24, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-tabs .ui-tabs-nav li {
  float: right;
}
/* line 26, ../../app/stylesheets/partials/_jqueryui.sass */
body .ui-tabs .ui-tabs-nav li.title {
  float: left;
  font-size: 1.2em;
  margin: 0 0 0 -0.5em;
  font-weight: normal;
  line-height: 2em;
}
/* line 35, ../../app/stylesheets/partials/_jqueryui.sass */
body .mini-tabs .ui-tabs-nav {
  font-size: 0.8em;
}
/* line 37, ../../app/stylesheets/partials/_jqueryui.sass */
body .mini-tabs .ui-tabs-nav li.title {
  font-size: 1.5em !important;
  line-height: 1.25em !important;
}

/* line 1, ../../app/stylesheets/partials/_facebox.sass */
.full {
  width: 500px;
}

/* line 5, ../../app/stylesheets/partials/_facebox.sass */
.popup #extended_info {
  display: none;
}

/* line 9, ../../app/stylesheets/partials/_facebox.sass */
#facebox h1 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  margin: 0;
}
/* line 13, ../../app/stylesheets/partials/_facebox.sass */
#facebox h1 a {
  background: #6d86b7;
  margin: -10px -10px 0 -10px;
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
  font-weight: bold;
}
/* line 21, ../../app/stylesheets/partials/_facebox.sass */
#facebox .edit {
  position: absolute;
  display: block;
  font-size: 1.25em;
  height: 25px;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin: 5px 0 0 -5px;
  padding: 0 5px;
  text-transform: uppercase;
}

/* line 1, ../../app/stylesheets/partials/pages/_results.sass */
.facet {
  overflow: hidden;
  margin: 0 0 15px 0;
}
/* line 4, ../../app/stylesheets/partials/pages/_results.sass */
.facet:last-child {
  margin-bottom: 0;
}
/* line 6, ../../app/stylesheets/partials/pages/_results.sass */
.facet h2 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  font-size: 1em;
  float: left;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
  margin-right: -10px;
  padding-left: 20px;
  height: 2em;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .facet h2 {
  overflow-x: hidden;
}
/* line 13, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}
/* line 19, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li {
  padding: 0 0 0.5em;
  margin: 0 0 1em;
  overflow: hidden;
}
/* line 23, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li a {
  font-weight: bold;
}
/* line 26, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li.more a {
  padding-bottom: 5px;
  display: block;
}
/* line 29, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li.more li a {
  padding-bottom: 0;
}
/* line 31, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li h3 {
  font-size: 1em;
  line-height: 1.5em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  float: left;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
  overflow: hidden;
}
/* line 139, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .facet ul li h3 {
  overflow-x: hidden;
}
/* line 37, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li ul {
  list-style: none;
  float: left;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}
/* line 40, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li ul li {
  padding: 0;
  margin: 0 0 5px;
}
/* line 43, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li ul li a {
  font-weight: normal;
}
/* line 45, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li ul li a.title {
  width: 150px;
  float: left;
}
/* line 48, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li ul li .nearterms {
  width: 270px;
  float: left;
  color: #777777;
}
/* line 52, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li ul li .nearterms em {
  color: #333333;
  font-style: normal;
}
/* line 55, ../../app/stylesheets/partials/pages/_results.sass */
.facet ul li ul li a.week {
  width: 70px;
  float: left;
}
/* line 61, ../../app/stylesheets/partials/pages/_results.sass */
.facet#courses ul, .facet#resources ul, .facet#people ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  width: 590px;
}
/* line 57, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.facet#courses ul li, .facet#resources ul li, .facet#people ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.facet#courses ul li:first-child, .facet#courses ul li.first, .facet#resources ul li:first-child, .facet#resources ul li.first, .facet#people ul li:first-child, .facet#people ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.facet#courses ul li:last-child, .facet#courses ul li.last, .facet#resources ul li:last-child, .facet#resources ul li.last, .facet#people ul li:last-child, .facet#people ul li.last {
  padding-right: 0;
}
/* line 64, ../../app/stylesheets/partials/pages/_results.sass */
.facet#courses ul li, .facet#resources ul li, .facet#people ul li {
  padding: 0 2em 0 0;
}
/* line 68, ../../app/stylesheets/partials/pages/_results.sass */
.facet#activities ul li, .facet#all ul li {
  border-bottom: #dddddd 1px solid;
}
/* line 70, ../../app/stylesheets/partials/pages/_results.sass */
.facet#activities ul li ul li, .facet#all ul li ul li {
  border-bottom: none;
}
/* line 72, ../../app/stylesheets/partials/pages/_results.sass */
.facet .author {
  display: block;
}
/* line 74, ../../app/stylesheets/partials/pages/_results.sass */
.facet .author a {
  font-weight: normal;
  margin-right: 1em;
}

/* line 78, ../../app/stylesheets/partials/pages/_results.sass */
.facet h2 {
  background: url() top left no-repeat;
}

/* line 81, ../../app/stylesheets/partials/pages/_results.sass */
#resources h2 {
  background-image: url(/images/icons/book.png);
}

/* line 83, ../../app/stylesheets/partials/pages/_results.sass */
#people h2 {
  background-image: url(/images/icons/status_online.png) !important;
}

/* line 85, ../../app/stylesheets/partials/pages/_results.sass */
#courses.facet h2 {
  background-image: url(/images/icons/database.png);
}

/* line 87, ../../app/stylesheets/partials/pages/_results.sass */
#collections h2 {
  background-image: url(/images/icons/sitemap_color.png);
}

/* line 10, ../../app/stylesheets/partials/pages/_course.sass */
h4 {
  font-size: 1.2em;
  padding: 1.5em 0 0 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #cccccc;
  line-height: 2em;
}

/* line 18, ../../app/stylesheets/partials/pages/_course.sass */
table.timeline td.active {
  background: url(/images/2x2.png) repeat-x center center;
}
/* line 20, ../../app/stylesheets/partials/pages/_course.sass */
table.timeline td.active a {
  padding: 0 0.25em;
  background: white;
}

/* line 24, ../../app/stylesheets/partials/pages/_course.sass */
.column {
  width: 50%;
  float: left;
}
/* line 28, ../../app/stylesheets/partials/pages/_course.sass */
.column .course_description {
  width: 95%;
}
/* line 31, ../../app/stylesheets/partials/pages/_course.sass */
.column ul.misc_info {
  margin: 0;
  padding: 0;
}
/* line 34, ../../app/stylesheets/partials/pages/_course.sass */
.column ul.misc_info li {
  float: left;
  list-style: none;
  width: 40%;
}
/* line 38, ../../app/stylesheets/partials/pages/_course.sass */
.column ul.misc_info li strong {
  display: block;
  float: left;
  width: 50%;
  font-weight: normal;
}
/* line 45, ../../app/stylesheets/partials/pages/_course.sass */
.column .main_topics {
  width: 95%;
  float: left;
  background: no-repeat 0px top;
  margin: 5px 0 5px 0;
}
/* line 14, ../../app/stylesheets/partials/_mixins.sass */
.column .main_topics h5 {
  margin: 0 0 0 22px;
}
/* line 16, ../../app/stylesheets/partials/_mixins.sass */
.column .main_topics ul {
  padding: 0;
}
/* line 18, ../../app/stylesheets/partials/_mixins.sass */
.column .main_topics li {
  list-style: none;
}
/* line 48, ../../app/stylesheets/partials/pages/_course.sass */
.column .main_topics li {
  margin: 0 0 0 22px;
  margin: 0;
}
/* line 22, ../../app/stylesheets/partials/_mixins.sass */
.column .main_topics li a {
  float: left;
  margin-right: 1em;
}

/* line 54, ../../app/stylesheets/partials/pages/_course.sass */
#tabs {
  clear: both;
}

/* line 58, ../../app/stylesheets/partials/pages/_course.sass */
.activities .lectures {
  width: 67%;
  float: left;
}
/* line 61, ../../app/stylesheets/partials/pages/_course.sass */
.activities .lectures .activity {
  width: 50%;
}
/* line 63, ../../app/stylesheets/partials/pages/_course.sass */
.activities .others {
  float: left;
  width: 33%;
}
/* line 67, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity {
  float: left;
  background: no-repeat 0px top;
  margin: 5px 0 5px 0;
}
/* line 72, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity h5 {
  margin: 0 0 0 22px;
  color: #666666;
}
/* line 76, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity.lecture {
  background-image: url("/images/icons/page_white.png");
}
/* line 78, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity.midterm {
  background-image: url("/images/icons/rosette.png");
}
/* line 80, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity.assignment {
  background-image: url("/images/icons/report.png");
}
/* line 82, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity.project {
  background-image: url("/images/icons/star.png");
}
/* line 84, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity.tutorial {
  background-image: url("/images/icons/book_open.png");
}
/* line 86, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity.pset {
  background-image: url("/images/icons/plugin.png");
}
/* line 89, ../../app/stylesheets/partials/pages/_course.sass */
.activities .activity .outcomes {
  margin: 0 0 0 22px;
}
/* line 22, ../../app/stylesheets/partials/_mixins.sass */
.activities .activity .outcomes a {
  float: left;
  margin-right: 1em;
}
/* line 92, ../../app/stylesheets/partials/pages/_course.sass */
.activities .no-others .lectures {
  width: 100%;
}
/* line 94, ../../app/stylesheets/partials/pages/_course.sass */
.activities .no-others .lectures .activity {
  width: 33%;
}

/* line 2, ../../app/stylesheets/partials/pages/_courses.sass */
#courses h4 {
  font-size: 1.2em;
  padding: 2em 0 0.5em 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #cccccc;
}
/* line 7, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .semesters {
  float: left;
  width: 100%;
}
/* line 11, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .semesters .semester {
  width: 50%;
}
/* line 14, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .others {
  float: left;
  width: 33%;
}
/* line 18, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .semester {
  float: left;
  background: no-repeat 0px top;
  margin: 5px 0 5px 0;
}
/* line 14, ../../app/stylesheets/partials/_mixins.sass */
#courses .semester h5 {
  margin: 0 0 0 22px;
}
/* line 16, ../../app/stylesheets/partials/_mixins.sass */
#courses .semester ul {
  padding: 0;
}
/* line 18, ../../app/stylesheets/partials/_mixins.sass */
#courses .semester li {
  list-style: none;
}
/* line 21, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .semester .course {
  margin: 0 0 0 22px;
}
/* line 22, ../../app/stylesheets/partials/_mixins.sass */
#courses .semester .course a {
  float: left;
  margin-right: 1em;
}
/* line 23, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .semester .course a {
  margin-right: 0.5em;
}
/* line 27, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .no-others .lectures {
  width: 100%;
}
/* line 29, ../../app/stylesheets/partials/pages/_courses.sass */
#courses .no-others .lectures .activity {
  width: 33%;
}

/* line 57, ../../app/stylesheets/screen.sass */
.highlight {
  background-color: yellow;
}

/* line 60, ../../app/stylesheets/screen.sass */
h5 {
  color: #666666;
}
