@import "blueprint/reset"
@import "partials/base"
@import "blueprint"
@import "partials/form"
@import "compass/utilities"

$bg_dark      : #001155
$bg_medium    : #627AAD
$bg_light     : #6D86B7
$menu_padding : 0.5em
$border_dark  : #777777
$spacer       : #dddddd
$text_links   : #3B5998 //facebook blue ;)
$text_regular : #333333
$text_light   : #777777

@mixin equal-column
  :float left
  :padding-bottom 32767px
  :margin-bottom -32767px

+blueprint-typography

body
  :font-family "lucida grande", tahoma, verdana, arial, sans-serif
  :color $text_regular
  :font-size 11px
  :text-align left
  :direction ltr
  
  a
    :color $text_links
    :text-decoration none
    &:hover
      :text-decoration underline
      
  h2
    :font-weight bold

@import "partials/old"    
@import "partials/header"   

#content
  +container
  
  
  #main
    +column(18)
    :border-right $border_dark 1px solid
    :border-bottom $border_dark 1px solid
    :padding $blueprint-grid-width / 2 
    :min-height 250px
    :border-left $border_dark 1px solid
      
  #sidebar
    +column(5,true)
    h2
      :font-size 1em
      :height 2em
      :line-height 2em
      :margin-top 1em
      :border-bottom 1px solid $spacer

  #footer
    +column(18.5)
    :color $text_light
    :padding 0.5em
    ul
      +horizontal-list
      :padding 0
      :float right

@import "partials/results"