.column
  %h4 Textbooks
  - if @course.resources.empty?
    No textbooks found for this course.
  - else
    %ul.resources
      - @course.resources.each do |resource|
        %li= render :partial => 'resources/embed', :locals => {:resource => resource}
.column
  %h4 Related Courses from MIT
  -if not @related_courses.empty? 
    -(1..3).each do |num|
      %h5= link_to @related_courses[num.to_s]["Title"], @related_courses[num.to_s]["CourseURL"], :class=>:ocw_link, :rel=>@related_courses[num.to_s]["Description"]
      %p= @related_courses[num.to_s]["Description"][0..150] + '...'
  -else
    %p None Found.    
