%h2 About
CurrMap is...

%dl
  %dt Supervisor
  %dd Lisa Romkey
  %dt Present Contributors
  %dd Rafal Dittwald
  %dd Guru Mahendran
  %dd James Cash
  %dd Vivian Hui

  %dt Past Contributors
  %dd Shahed Al-Haque
  %dd Ben Ouyang