%p.error
  =flash[:error]

%p
  Welcome to CurrMap!
%p  
  Use the search above, or explore using the options to the left.
%p
  If you run into any problems, use the feedback tab on the left or email Raf at rafal.dittwald@gmail.com .
