= render 'form'

-# if request.format.js?

  = render 'form'

  = link_to 'Back', course_path_(@course)
  
-# else
  #tabs
    %ul
      - @courses.each do |course|
        %li
          %a(href="../#{course.id}/#{course.delivered_year}/edit" title="#{course.delivered_year}")= course.course_code + " - " + course.delivered_year.to_s


