%h2 Courses
-prevyear = 0
-prevsem = ""
%dl#courses
  - @courses.each do |course|
    - if course.year != prevyear
      %dt= "Year " + course.year
      - prevyear = course.year
    - if course.semester != prevsem   
      %dt= "Semester " + course.semester
      - prevsem = course.semester
    %dd
      =link_to course.short_code, course, {:title => course.name}
      %span=course.name


= link_to 'New Course', new_course_path if admin_signed_in?
