- if request.format.js?
  = render :partial => "course", :locals => {:course => @course}
- else 
  %h1= @courses[0].short_code
  %h3= @courses[0].name
  #tabs
    %ul
      - @courses.each do |course|
        %li
          %a(href="#{course.id}" title="#{course.year_version}")= course.course_code + " - " + course.year_version.to_s